<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnSale.Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap_3.4.1/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
          asp-fallback-test-value="absolute"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle bg-success" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background-color:dimgrey"></span>
                        <span class="icon-bar" style="background-color:dimgrey"></span>
                        <span class="icon-bar" style="background-color:dimgrey"></span>
                    </button>
                    <a style="color:dimgrey" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">OnSale.Web</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a style="color:palevioletred" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                        <li><a style="color:palevioletred" asp-area="" asp-controller="Countries" asp-action="Index">Países</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OnSale.Web - <a style="color:palevioletred" asp-area="" asp-controller="Home" asp-action="Privacy">Aviso de Privacidad</a>
        </div>
    </footer>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"
            asp-fallback-src="~/lib/jquery_3.5.1/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap_3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js"
            asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
